<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <style>
         body {
            font-family: 'Arial', sans-serif;
            line-height: 1.6;
            background-color: #f4f4f4;
            color: #333;
            padding: 20px;
        }

        h1, h2, h3, h4 {
            margin-bottom: 10px;
        }

        ul {
            list-style: none;
        }

        form {
            max-width: 400px;
            margin: 20px auto;
        }

        input[type="text"],
        input[type="email"],
        input[type="password"] {
            width: 100%;
            padding: 10px;
            margin-bottom: 10px;
            box-sizing: border-box;
        }

        input[type="submit"] {
            background-color: #3498db;
            color: #fff;
            padding: 1px 15px;
            border: none;
            cursor: pointer;
        }

        input[type="submit"]:hover {
            background-color: #2980b9;
        }

        .logout-btn {
            background-color: #3498db;
            color: #fff;
            padding: 1px 30px;
            border: none;
            cursor: pointer;
         }

       .logout-btn:hover {
            background-color: #2980b9;
        }

    </style>
</head>
<body>
    <a href="/users/logout" class="logout-btn">Logout</a>
    <h4>Hello <%= user.charAt(0).toUpperCase() + user.slice(1)%> </h4>
</body>
</html>